.app__popular {
    align-items: center;
    padding: 36px 180px 45px;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrows {
            width: 67px;
            display: flex;
            justify-content: space-between;

            svg {
                border: 1px solid;
                border-radius: 3px;
                padding: 5px;
                background: rgba(0, 171, 85, 0.08);
                color: #00AB55;
                cursor: pointer;
            }
        }

    }

    h1 {
        height: 42px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 42px;
        color: rgba(0, 82, 73, 0.8);
    }

    .list {

        display: flex;
        gap: 15px;
        overflow-x: auto;
        overflow-y: hidden;

        @media screen and(max-width: 1600px) {
            .app__card {
                margin-bottom: 20px;
            }
        }

        .app__card {
            margin-top: 20px;
            margin-right: 20px;
        }
    }

    @media screen and(max-width: 1000px) {
        padding: 36px 47px 45px;
    }
}