.app__search-mobile {
    display: none;

    @media screen and(max-width: 1115px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
}

.app__header {
    display: flex;
    height: 34.7vh;
}

.app__header-content {
    background: #599A76;
    position: relative;
    width: 70%;

    h1 {
        width: 303px;
        height: 84px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 84px;
        color: #FFFFFF;
    }

    h3 {
        width: 135px;
        height: 72px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 46px;
        line-height: 72px;
        color: #FFFFFF;
        transform: rotate(-90deg);
        position: absolute;
        top: 65px;
        left: 20px;
    }

    p {
        width: 547px;
        height: 54px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    button {
        border: none;
        background: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    span {
        color: white;
        font-weight: bold;
        margin-left: 5px;
        position: absolute;
        bottom: 25px;
        left: 208px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 130px;
    }

    @media screen and(max-width: 970px) {
        width: 100%;
    }

    @media screen and(min-width: 1300px) {
        width: 210%;
    }
}

.app__header-image {

    img {
        height: 100%;
        width: 100%;

        @media screen and(max-width: 970px) {
            display: none;
        }
    }

    @media screen and(min-width: 970px) {
        &:nth-child(2) {
            width: 100%;
        }
    }
}